.Day {
  width: calc((99.99% - 14px) / 7);
  height: 150px;
  background: #fff;
  border: 1px solid #999;
  position: relative;
  overflow-y: scroll;
}

.Day--empty {
  background: #999
}

.Day-addButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.Day-date {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 45px;
  opacity: .4;
}