.Reminder {
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.Reminder--white {
  background: white;
}
.Reminder--cyan {
  background: cyan;
}
.Reminder--pink {
  background: pink;
}
.Reminder--yellow {
  background: yellow;
}

.Reminder-time {
  margin-right: 5px;
  font-weight: bold;
}
.Reminder-message {
  font-style: italic
}